@{
    ViewBag.Title = "TinhTrangXemHang";
    Layout = "~/Views/Shared/SanPham.cshtml";
}

@using Nhom5_ShopBanDoTrangSuc.Models;
@model List<HOADON>
<h2 style="font-family:Cambria; text-align:center">TÌNH TRẠNG HÓA ĐƠN</h2>
<br />
<table class="table" style="font-family:Cambria">
    <thead>
        <tr>
            <th scope="col">Mã Hóa Đơn</th>
            <th scope="col">Ngày Lập</th>
            <th scope="col">Địa Chỉ</th>
            <th scope="col">Tổng Tiền</th>
            <th scope="col">Tình Trạng</th>
            <th scope="col">Ngày Giao</th>
            <th></th>
            <th></th>
           
    
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th>@i.MAHD</th>
                 <th>@i.NGAYLAP</th>
                <th>@i.DIACHI</th>
                 <th>@i.TONGTIEN</th>
                <th>@i.TINHTRANG</th>
                <th>@i.NGAYGIAO</th>
               <th ><a href="@Url.Action("xoaHD", new {mahd=@i.MAHD })"><input class="btn-ad-xoa-kh" type="submit" value="Xóa"/></a></th>
                <th ><a href="@Url.Action("chitietHD", new {mahd=@i.MAHD })"><input class="btn-ad-sua-kh" type="submit" value="Chi Tiết HD"/></a></th>
                
                
            </tr>
        }
       
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
